.explore {
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.37)), url('../images/Explore/explore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.explore-padding {
    padding: 150px 0;
}

.explore-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 40vh;
}

.explore-divider {
    border: 1px solid #fff;
    height: 100%;
    opacity: 0.5;
}

.explore-text {
    width: 25%;
    h3 {
        color: #fff;
    }
}

.rotate {
    transform: rotate(180deg);
    margin-top: -1px;
}

@media (max-width: 768px) {


    .explore-content {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .explore-divider {
        width: 100%;
    }

    .explore-text {
        width: auto;
        padding: 40px 0;
    }

    .rotate {
        margin-top: -3px;
    }
}

@media (max-width: 576px) {
    .explore {
        background-attachment:scroll;
    }
}