@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f4f0e9;
}

h1 {
  font-family: 'Cardo', serif;
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-family: 'Cardo', serif;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-family: 'Cardo', serif;
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-family: 'Cardo', serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
}

form {
  font-family: 'Cardo', serif;
  font-size: 1.1rem;
  font-weight: 700;

}

button {
  color:  black;
}

.divider {
  width: 100%;
  display: inline-block;
}

.gold-text {
  color: #d4af37;
}

.grey-text {
  color: #b8b8b8;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* Slide in animation CSS */

.slide-in {
  animation: slide-in 1.5s ease-in-out forwards;
}

.hidden {
  opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}